<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
</style>
</head>
<body>
  <div>
    <a  routerLink="/addsalesorder">
     Add SO
    </a>
  </div>
  <br>
<table>
  <tr>
    <th>No</th>
    <th>Date</th>
    <th>Notes</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let so1 of _salesorder">
    <td><a  routerLink="/Detail/{{so1.salesOrderId}}">{{so1.salesOrderNumber}}</a></td>
    <td>{{so1.dlup}}</td>
    <td>{{so1.notes}}</td>
    <td><a  routerLink="/editsalesorder/{{so1.salesOrderId}}">Edit</a> </td>
  </tr>
</table>



</body>
</html>