
  <div>
    <a  routerLink="/addsalesorder">
     Add SO
    </a>
  </div>
  <br>
<!-- <table>
  <tr>
    <th>No</th>
    <th>Date</th>
    <th>Notes</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let so1 of _salesorder">
    <td><a  routerLink="/Detail/{{so1.salesOrderId}}">{{so1.salesOrderNumber}}</a></td>
    <td>{{so1.dlup}}</td>
    <td>{{so1.notes}}</td>
    <td><a  routerLink="/editsalesorder/{{so1.salesOrderId}}">Edit</a> </td>
  </tr>
</table> -->


  <div class="row">
    <div class="col">No</div>
    <div class="col">Date</div>
    <div class="col">Notes</div>
    <div class="col">Edit</div>
  </div>
  <div class="row" *ngFor="let so1 of _salesorder">
      <div class="col"><a  routerLink="/Detail/{{so1.salesOrderId}}">{{so1.salesOrderNumber}}</a></div>
      <div class="col">{{so1.dlup}}</div>
      <div class="col">{{so1.notes}}</div>
      <div class="col"><a  routerLink="/editsalesorder/{{so1.salesOrderId}}">Edit</a> </div>
  </div>